ngx-timepicker-field {
    .ngx-timepicker {
        height: 72% !important;
        border: 1px solid $border-main;
    }
    &.ng-invalid {
        .ngx-timepicker {
            border: 1px solid red !important;
        }
    }
}
