<section class="login h-100">
  <div class="row mx-0 h-100 justify-content-center align-items-center pt-5">
    <div class="login__form col-12 col-md-5 p-5">
      <form [formGroup]="loginForm" *ngIf="loginForm">
        <div>
          <label class="d-block">Username</label>
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Enter username"
              formControlName="username"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <label class="d-block">Password</label>
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Enter password"
              formControlName="password"
              type="password"
              required
            />
          </mat-form-field>
        </div>

        <div class="buttons">
          <button class="btn btn--md btn--primary" (click)="submitLogin()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
