<div class="products-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-container">
          <h3 class="header-container__text">Products list</h3>
          <button class="btn btn--md btn--primary" (click)="addProject()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="row mt-3" *ngIf="products.length">
      <div class="col-12">
        <app-table
          [columns]="productsColumn"
          [rows]="products"
          [actions]="productsActions"
          (actionClick)="onEmitAction($event)"
        ></app-table>
      </div>
    </div>
  </ng-container>
</div>
